In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [2]:
db=pd.read_csv(r"C:\Users\shajeer\Desktop\Sales_add.csv")
db

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

# To clarify whether there is any increase in sales after stepping into digital marketing

In [3]:
# assuming null hypothesis as no increase in sales after stepping into digital marketing
# alternative hypothesis as increase in sales after stteping into digital markrting
db1=db['Sales_before_digital_add(in $)']
db2=db['Sales_After_digital_add(in $)']

In [4]:
stats.shapiro(db1)

ShapiroResult(statistic=0.9306764006614685, pvalue=0.12674309313297272)

In [5]:
stats.shapiro(db2)

ShapiroResult(statistic=0.9702128767967224, pvalue=0.7159645557403564)

In [6]:
# both p value are greater than 0.05,hence the distribution is normal
stats.levene(db1,db2,center='mean')

LeveneResult(statistic=5.171664124853503, pvalue=0.028130575490495715)

In [7]:
# here the p value is less than the alpha value 0.05, hence the varience is not equal so we need to use t test 
stats.ttest_ind(db1,db2,equal_var='False')
# here p value is less than 0.05 we reject the null hypothesis
# confirm there is a increase in sales after stepping into digital marketing

Ttest_indResult(statistic=-12.995084451110877, pvalue=2.614368006904645e-16)

# To check whether there is any dependency between the features “Region” and “Manager”

In [8]:
db3=pd.crosstab(db['Region'],db['Manager'])
db3

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [9]:
# null hypothesis variable are independent
# alternative hypothesis variable are independent
chi=stats.chi2_contingency(db3)
chi

(3.050566893424036,
 0.5493991051158094,
 4,
 array([[4.09090909, 3.18181818, 2.72727273],
        [2.86363636, 2.22727273, 1.90909091],
        [2.04545455, 1.59090909, 1.36363636]]))

In [10]:
chi_stat_value=chi[0]
p_val=chi[1]
d_o_f=chi[2]
alpha=0.05

In [11]:
chi_critical=stats.chi2.ppf(q=1-alpha,df=d_o_f)
print('critical value is',chi_critical)

critical value is 9.487729036781154

In [12]:
if(chi_stat_value>=chi_critical)&(p_val<=alpha):
    print('Reject null hypothesis and there is dependency between region and manager')
else:
    print('Accept null hypothesis and there is no dependency between region and manager')

Accept null hypothesis and there is no dependency between region and manager